<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas</title>
</head>
<body>
    <h1>Políticas de privacidade</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis animi pariatur reiciendis, eligendi ratione provident, maxime aliquid soluta repellat consequatur id! Aliquid, possimus. Recusandae explicabo facilis quaerat iusto eum voluptas?</p>
</body>
</html>