@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #B5C18E;
}

nav {
    background-color: #F7DCB9;
    width: 195vh;
    height: 60px;
    flex-direction: row;
    gap: 70%;
    display: flex;
    padding: 10px;
}

#logo {
    font-size: 2rem;

    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    color: #B99470;
}

ul {
    cursor: pointer;
    flex-direction: row;
    display: flex;
    gap: 40px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    font-size: 2rem;
    list-style: none;
    color: #B99470;

}

.produto {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-produto {
    border-radius: 3%;
    display: block;
}

.desc {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    font-size: 1.5rem;
    list-style: none;
    color: #7a4c24;
}

a {
    color: inherit;
}

.produtos {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 4%;
    justify-content: center;
    padding-top: 5%;
}

#f1:hover,
#f2:hover,
#f3:hover,
#f4:hover,
#f5:hover,
#f6:hover {
    opacity: 0.7;
    width: 320px;
    transition: 300ms;
}